@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Mukta");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
	box-sizing: border-box;
}
body {
	font-family: Mukta, sans-serif;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
}
body a, a.slide-btn, a.more {
	transition: all 0.5s ease 0s;
}
body a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"], input[type="text"] {
	transition: all 0.5s ease 0s;
	-webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}
p {
	margin: 0px;
}
ul {
	margin: 0px;
	padding: 0px;
}
label {
	margin: 0px;
}
.space {
	margin-right: 3px;
}
.float-l {
	float: left;
}
.float-r {
	float: right;
}
img {
	border-radius: 5px;
}
table {
	border-spacing: 0px;
	border-collapse: separate;
}
td {
	padding: 0px;
}
.ar {
	text-align: right;
}
.al {
	text-align: left;
}
.half {
	width: 50%;
}
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
#container {
	min-height: 100%;
	position: relative;
}
#static {
	margin-bottom: 3px;
	width: 100%;
}
#header {
	padding: 10px;
	background: linear-gradient(45deg, rgb(206, 89, 55) 0%, rgb(28, 110, 164) 50%, rgb(197, 146, 55) 100%);
	color: rgb(0, 0, 0);
	font-size: 24px;
	text-shadow: rgb(150, 150, 150) 1px 3px 0px, rgb(171, 168, 168) 1px 13px 5px;
}
#body {
	padding: 10px 10px 60px;
}
#footer {
	padding-left: 15px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	background: linear-gradient(45deg, rgb(206, 89, 55) 0%, rgb(28, 110, 164) 50%, rgb(197, 146, 55) 100%);
}
table.blueTable {
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid rgb(28, 110, 164);
	background-color: rgb(238, 238, 238);
	border-width: thin;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
table.blueTable th {
	border-top: none;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-width: thin;
	padding: 3px 2px;
}
table.blueTable td {
	border: 1px solid #CCCCCC;
	border-top: none;
	border-width: thin;
	padding: 3px 2px;
}
table.blueTable tbody td {
	font-size: 13px;
}
table.blueTable tr:nth-child(2n) {
	background: rgb(208, 228, 245);
}
table.blueTable thead {
	background: linear-gradient(rgb(85, 146, 187) 0%, rgb(50, 124, 173) 66%, rgb(28, 110, 164) 100%);
	border-bottom: 1px solid rgb(68, 68, 68);
	border-top: none;
	border-width: thin;
}
table.blueTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	border-left: 1px solid rgb(208, 228, 245);
	border-width: thin;
}
table.blueTable thead th:first-child {
	border-left: none;
	border-top: none;
}
table.blueTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background: linear-gradient(rgb(220, 235, 247) 0%, rgb(212, 230, 246) 66%, rgb(208, 228, 245) 100%);
	border-top: 1px solid #ccc;
	border-top-width: thin;
}
table.blueTable tfoot td {
	font-size: 14px;
}
table.blueTable tfoot .links {
	text-align: right;
}
table.blueTable tfoot .links a {
	display: inline-block;
	background: rgb(28, 110, 164);
	color: rgb(255, 255, 255);
	padding: 2px 8px;
	border-radius: 5px;
}
.split::after {
	content: "";
	display: table;
	clear: both;
}
.split {
	margin-bottom: 3px;
}
.titel-box {
	display: block;
	padding: 3px;
	font-size: 18px;
	border-bottom: 1px solid rgb(221, 221, 221);
	margin: 0px;
	font-weight: bold;
	color: #FFF;
	text-shadow: #000 1px 1px 0;
	background: #CCCCCC;
	background: -moz-linear-gradient(left, #10397e 0%, #CCCCCC 100%);
	background: -webkit-linear-gradient(left, #10397e 0%, #CCCCCC 100%);
	background: linear-gradient(to right, #10397e 0%, #CCCCCC 100%);
}
.textbox {
	display: block;
	background-color: rgb(208, 228, 245);
	width: 100%;
	padding: 0px;
	margin-bottom: 10px;
	color: rgb(47, 72, 122);
	font-size: 12px;
	border: 1px solid #10397e;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.bold {
	font-weight: bold;
}
.sondeisclose1 {
	font-weight: bold;
	color: #00A40D;
}
.sondeisclose2 {
	font-weight: bold;
	color: #D98700;
}
.sondeisclose3 {
	font-weight: bold;
	color: rgb(255, 0, 4);
}
.sondeisfar {
	color: #000;
}
div.myTable {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	background-color: rgb(238, 238, 238);
}
div.myTable2 {
	width: 100%;
	border-collapse: collapse;
}
.divTable.myTable .divTableCell, .divTable.myTable .divTableHead {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.divTable.myTable2 .divTableCell, .divTable.myTable2 .divTableHead {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.divTable {
	display: table;
}
.divTableRow {
	display: table-row;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #CCCCCC;
}
.divTableHeading {
	display: table-header-group;
}
.divTableCell, .divTableHead {
	display: table-cell;
}
.divTableHeading {
	display: table-header-group;
}
.divTableFoot {
	display: table-footer-group;
}
.divTableBody {
	display: table-row-group;
}
.divTableRow:nth-child(2n) {
	display: table-row;
	background-color: rgb(208, 228, 245);
}
.divTableRow:last-child {
	border-bottom: none;
}
#adir i {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 15px 5px;
	border-color: transparent transparent #006FB5 transparent;
}
.linkbutton {
	-moz-box-shadow: 3px 3px 5px -1px #bee2f9;
	-webkit-box-shadow: 3px 3px 5px -1px #bee2f9;
	box-shadow: 3px 3px 5px -1px #bee2f9;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background: -moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color: #63b8ee;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	text-indent: 0px;
	border: 1px solid #3866a3;
	display: inline-block;
	color: #14396a;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	height: 18px;
	line-height: 18px;
	width: 38px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #000;
}
.linkbutton:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background: -moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color: #468ccf;
}
.linkbutton:active {
	position: relative;
	top: 1px;
}
.blink {
	animation: blink 2s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}
.myButton {
	margin: 5px;
	-moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
	box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0', GradientType=0);
	background-color: #3d94f6;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #337fed;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1570cd;
}
.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background: -moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: -webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: -o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: -ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6', GradientType=0);
	background-color: #1e62d0;
}
.myButton:active {
	position: relative;
	top: 1px;
}
 @keyframes blink {
 to {
 visibility: hidden;
}
}
@-webkit-keyframes blink {
 to {
 visibility: hidden;
}
}

@media only screen and (max-width: 1000px) {
.column {
	width: 100%;
}
.textbox {
	font-size: 40px;
	font-weight: normal;
}
div.myTable {
	font-weight: normal;
	font-size: 40px;
}
}

@media only screen and (min-width: 1000px) {
.column {
	float: left;
	width: 24%;
	margin: 6px;
}
}
