/*--------------------------------------------------------------
	NORMALIZE
--------------------------------------------------------------*/
@import 'https://fonts.googleapis.com/css?family=Mukta';
* {
	box-sizing: border-box;
}
body {
	font-family: 'Mukta', sans-serif;
	font-size: 16px;
	background-color: #fff;
}
body a, a.slide-btn, a.more {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
body a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"], input[type="text"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
.space {
	margin-right: 3px;
}
.float-l {
	float: left;
}
.float-r {
	float: right;
}
img {
	border-radius: 5px
}
/* ------------------- */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#container {
	min-height: 100%;
	position: relative;
}
#header {
	background: #ff0;
	padding: 10px;
	background: #CE5937;
	background: -moz-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	background: -webkit-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	color: #000;
	font-size: 24px;
	text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}
#body {
	padding: 10px;
	padding-bottom: 60px;   /* Height of the footer */
}
#footer {
	padding-left: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;   /* Height of the footer */
	background: #6cf;
	background: #CE5937;
	background: -moz-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	background: -webkit-linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
	background: linear-gradient(45deg, #CE5937 0%, #1C6EA4 50%, #C59237 100%);
}
#display div {
	background-color: #FFF;
	margin-bottom: 15px;
	margin-top: 15px;
}
#display h2 {
}
.title {
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
	font-size: 18px;
	text-shadow: #000 1px 1px 0;
	background-color: #1F00BB;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
table.blueTable {
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
}
table.blueTable tbody td {
	font-size: 13px;
}
table.blueTable tr:nth-child(even) {
	background: #D0E4F5;
}
table.blueTable thead {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 2px solid #444444;
}
table.blueTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
	border-left: none;
}
table.blueTable tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
}
table.blueTable tfoot td {
	font-size: 14px;
}
table.blueTable tfoot .links {
	text-align: right;
}
table.blueTable tfoot .links a {
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}
